<h2>Celebrity Details</h2>
<p>Name: {{celebDetails.name}}</p>
<p>occupation: {{celebDetails.occupation}}</p>
<p>catch phrase: {{celebDetails.catchPhrase}}</p>
<a href="/celebrities">back to celebritiy List</a>